 <!-- <h1>Cleiton</h1> -->

 <!-- <em *ngIf="!(Jogos$)"><em>Loading...</em></p> -->
<div class="col-md-12">
  <div class="card bg-primary text-white">
    <h3 class="card-title text-center">
      <div class="d-flex flex-wrap justify-content-center mt-2">
        <h3><strong>Igor</strong> - {{now | date:'medium'}}</h3>
      </div>
    </h3>
  </div>
</div>
<p></p>



<div class="col-md-12">
  <form [formGroup]="tokenForm" (ngSubmit)="AtualizaToken()" #formDir="ngForm" novalidate>
    <div class="form-group row">
      <label class><strong>Token</strong></label>
      <input formControlName="token" class="form-control" type="text" placeholder="Novo Token">
      <small *ngIf="tokenForm.get('token').errors?.Required" class="text-danger d-block mt-2">
        Token Required
      </small>
    </div>
    <div class="form-group">
      <button [disabled]="tokenForm.invalid" type="submit" class="btn btn-primary mb-2">Alterar Token</button>
    </div>

  </form>
</div>
<table *ngIf="Jogos$">

<p></p>

  <div class="container">
     <div class = "row">
      <div class="col-6">
        <div class="text-justify text-center font-weight-bold bg-aqua text-primary">Regra - Odd</div>
        <table class="small table table-striped table-warning" >
          <thead class="thead-dark">
            <tr>
              <th>C</th>
              <th>V</th>
              <th>Casa"</th>
              <th>15"</th>
              <th>30"</th>
              <th>Visit"</th>
              <th>15"</th>
              <th>30"</th>
              <th>Iniciado</th>

            </tr>
          </thead>
          <tbody *ngFor="let jogo of JogosRegraOdds$ ">


              <td>{{ jogo.nomeCasa }}</td>
              <td>{{ jogo.nomeVisitante }}</td>
              <td>{{ jogo.odd1Casa}}</td>
              <td>{{ jogo.odd2Casa}}</td>
              <td>{{ jogo.odd3Casa}}</td>
              <td>{{ jogo.odd1Visitante}}</td>
              <td>{{ jogo.odd2Visitante}}</td>
              <td>{{ jogo.odd3Visitante}}</td>
              <td>{{ jogo.flagIniciado }}</td>

          </tbody>

        </table>
      </div>
        <div class="col-6">
        <div class="text-justify text-center font-weight-bold bg-aqua text-primary">Regra - Over</div>
        <table class="small table table-striped table-warning ">
          <thead class="thead-dark">
            <tr>
              <th>C</th>
              <th>V</th>
              <th>Casa"</th>
              <th>15"</th>
              <th>30"</th>
              <th>Visit"</th>
              <th>15"</th>
              <th>30"</th>
              <th>Iniciado</th>

            </tr>
          </thead>
          <tbody *ngFor="let jogo of JogosRegraGols$ ">

              <td>{{ jogo.nomeCasa }}</td>
              <td>{{ jogo.nomeVisitante }}</td>
              <td>{{ jogo.odd1Casa}}</td>
              <td>{{ jogo.odd2Casa}}</td>
              <td>{{ jogo.odd3Casa}}</td>
              <td>{{ jogo.odd1Visitante}}</td>
              <td>{{ jogo.odd2Visitante}}</td>
              <td>{{ jogo.odd3Visitante}}</td>
              <td>{{ jogo.flagIniciado }}</td>

          </tbody>

        </table>
        </div>
        

    </div>

    
      <div class = "col-12" >
        <div class="text-justify text-center font-weight-bold bg-aqua text-primary">Jogos</div>
        <table class=" small table  table-striped table-info" >

          <thead class="thead-dark" >
            <tr>
              <th>C</th>
              <th>V</th>
              <th>Casa</th>
              <th>15"</th>
              <th>30"</th>
              <th>Visit"</th>
              <th>15"</th>
              <th>30"</th>
              <th>Iniciado</th>

            </tr>
          </thead>
          <tbody  *ngFor="let jogo of Jogos$">
          
              <td>{{ jogo.nomeCasa }}</td>
              <td>{{ jogo.nomeVisitante }}</td>
              <td>{{ jogo.odd1Casa}}</td>
              <td>{{ jogo.odd2Casa}}</td>
              <td>{{ jogo.odd3Casa}}</td>
              <td>{{ jogo.odd1Visitante}}</td>
              <td>{{ jogo.odd2Visitante}}</td>
              <td>{{ jogo.odd3Visitante}}</td>
              <td>{{ jogo.flagIniciado }}</td>

          </tbody>
        </table>

    </div>
     
  </div>

</table>


